<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="www to non-www" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="aurora.montana.edu" />
                    </conditions>
                    <action type="Redirect" url="www.aurora.montana.edu/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
